.eclipse2{
    position: absolute;
    border-radius: 749.262px;
    opacity: 0.4000000238418579;
    background: var(--gradient-03, linear-gradient(138deg, #9CECFB 0%, #65C7F7 50%, #0052D4 100%));
    filter: blur(34px);
    /* width: 749.262px;
    height: 479.642px; */
    width: 110%;
    height: 60%;
    top: 16%;
    left: -4%;
    z-index: -1;
}